body{
    background-color: lightskyblue
}

p { 
    text-align:center;
    font-size: 30px;
 }

.calculator {
    display:grid;
    background-color: grey;
    min-height: 520px;
    width: 420px;
    margin: 0 auto 20px;
    padding: 12px 10px;
}

.display{
    background-color: rgb(179, 176, 176);
    font-size: 25px;
    min-height: 90px;
    margin: 15px 5px 10px;
}

#history-value{
    font-size: 30px;
    text-align: left;
    height: 40%;
    padding: 5px 10px;
    margin : 0px;
    display: flex;
    word-wrap:break-word;
    word-break: break-all; 
}

#output-value{
    font-size: 30px;
    text-align: right;
    height: 40%;
    padding: 5px 10px;
    margin : 0px;
    display: flex-end;
    word-wrap:break-word;
    word-break: break-all; 
}

.cal-keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin: 2px;
}

button{
    font-size: 25px;
    padding: 22px;
    border-style: 1px solid;
    background-color: white;
    outline: none;
}

#zero{
    grid-column:1 / span 2
}

button:hover{
    background-color: burlywood;
}
